/* add links here for css here */

/* link for lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* add styling here */


footer {
  padding: 18px 145px 100px;
  background-color: #ededed;
}

.field-container-footer {
  display: flex;
  justify-content: space-between;
}

.footer-label-container {
  display: flex;
  justify-content: space-between;
}

.footer-label-container>h5 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.footer-label-container>h5:last-child {
  margin-right: 150px;
}

.footer-form-email {
  border-radius: 14px;
}

.footer-email {
  width: 300px;
  height: 45px;
  padding-inline: 22px;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-size: 12px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-socials>img {
  width: 30px;
}

.footer-location {
  background-color: #fff;
  width: 300px;
  padding: 7px 22px 8px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.footer-location>img {
  width: 28px;
  margin-right: 8px;
}

.footer-india {
  width: 216px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin: 82px 0 20px;
}

.footer-nav>ul {
  width: 100%;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 12.8px;
  padding-inline: 5px;
  margin-right: 20px;
  color: #3a3a3a;
}

.footer-nav>ul>li:first-child {
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-align: center;
}

.lower-links {
  text-align: center;
}

.lower-links>a {
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #333333;
}

.lower-links>a:last-child {
  border: none;
}


/* add styling here */
.container {
  max-width: 1920px !important;
  padding: 0px !important;
  background-color: #ededed;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  z-index: 2;
  background-color: white;
}

#top-head {
  display: flex;
  height: 35px;
  background-color: #ededed;
  font-size: 14px;
  box-sizing: border-box;
  padding-right: 15px;
}

#top-left-head {
  margin-left: auto;
  display: flex;
  align-items: center;

}

#top-left-head>div:nth-child(2) {
  padding: 6px 12px;
}

.left-drop {
  transform: translate(-130px);
}

.extra-left-drop {
  transform: translate(-200px);
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  width: auto;
  margin-top: 2px;

}

.top-drop-menu {
  padding: 16px !important;
}

.top-drop-menu>a {
  border-bottom: 1px solid rgb(204, 204, 204) !important;
  padding-bottom: 10px;
  font-size: 14px !important;

}

.dropdown-item>div:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.my-list>div:not(:first-child) {
  font-size: 10px !important;
}

.top-drop-menu>a:not(:last-child) {
  margin-bottom: 24px !important;
}

.top-icons {
  box-sizing: border-box !important;
  margin-top: 3px;
  width: 10px;
  font-size: 18px !important;
}

#top-left-head>div:hover,
#right-mid-head>div:hover,
#head-nav-right>div:hover {
  border-radius: 5px;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  border-bottom: 3px solid #e1140a !important;
  background-color: white;

}

.top-drop {
  background-color: transparent !important;
  color: black !important;
  border: 0 !important;
  font-size: 14px;
}

#mid-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 19px 16px 0px 16px;
  box-sizing: border-box;
}

#left-mid-head {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 150px;
  width: auto;
}

#lenovo-logo {
  height: 100%;
  padding: 4px 0px;
  box-sizing: border-box;
}

#search-space {
  width: auto;
  display: flex;
  align-items: center;
}

#search-bar {
  padding-left: 20px;
  width: 100%;
  height: 44px;
  max-width: 733px;
  min-width: 695px;
  border: 2px solid;
  border-radius: 12px;
  background-color: rgb(245, 245, 245);
}

.mid-head-icons {
  font-size: 30px !important;
}

#search-icon {
  transform: translate(-40px);
}

#right-mid-head {
  display: flex;
  align-items: center;
  gap: 15px
}

#bottom-nav {
  font-size: 16px;
  height: 55px;
  padding: 16px;
  color: rgb(78, 68, 78);
  box-sizing: border-box;
}

.dropdown:hover .products-menu {
  margin: 2px;
  width: 100vw !important;
  max-width: 1920px;
  display: flex !important;
  justify-content: start;
  background-color: rgb(237, 237, 237);
  border-radius: 0 !important;
  font-size: 14px !important;
  padding: 12px !important;
  transform: translate(-16px);
}

#head-nav-left>div:hover,
#head-nav-left>div:hover button {
  font-weight: bold;
}

#head-nav-right>div:not(:last-child) {
  border-right: 2px solid rgb(219, 219, 219);
  padding-right: 20px;
}

.products-menu>div {
  flex-basis: 5px;
}

#drop-menu-image {
  width: 242px !important;
  height: 162px !important;
}

#drop-menu-image>img {
  width: 100%;
  height: 100%;
}

.dropdown:hover .flex-menu {
  display: flex !important;
  transform: translate(-720px);
  width: auto;
  padding-right: 10px !important;
}

.flex-menu>div>a:first-child {
  font-weight: bold !important;
}

#bottom-fixed-bar {
  padding: 8px;
  position: fixed;
  width: 100%;
  bottom: 0%;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
  border-top: 1px solid;
}

.left-fixed-bar {
  color: rgb(13, 92, 145);
}

#main-content {
  margin: auto;
  width: 95%;
}

/* add styling here */
.row {
  width: 100%;
}

.headings {
  text-align: center;
  margin-bottom: 30px;
}

.card1 {
  text-align: center;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}


.headings {
  text-align: left;
  margin-bottom: 30px;
  padding-top: 55px;
  /* display: flex; */
}

.card {
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  text-align: left;
  margin-top: 10px;
}

.card-text {
  text-align: left;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  color: black;
}

.btn.btn-primary {
  color: black;
  background-color: white !important;
  border-color: black;
}

.btn.btn-primary:hover {
  color: white;
  background-color: black !important;
}

/* #sanpreet code */

#exp-len {
  margin-bottom: 50px;
}


#infra-sol {
  height: auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.sanpreet .widgetsTitle {
  margin-bottom: 70px;

}

#left-learn-more {
  margin-top: 20px;
}

.sanpreet #exp-icons {
  margin-top: 30px;
  padding: 20px 0px;
  background-color: white;
  gap: 95px;
}

.sanpreet .pc {
  padding: 10px 50px 30px !important;
  display: flex;
  justify-content: center;
  gap: 50px;
  /* color: black; */
  text-decoration: black;


}



.sanpreet .img2 {
  background-color: white;
  max-height: 254px;
  min-height: 468px;
  width: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  justify-content: center;
  border-top-right-radius: 25px;
  border-radius: 25px;
  ;
  border-top-left-radius: 25px;



}


.sanpreet .pc2 {
  display: flex;
  margin: auto;
  width: 94%;
  height: auto;
  gap: 20px;
  box-sizing: border-box;
}

.sanpreet .img4 {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.sanpreet .img2 {
  transition: transform 0.2s ease;
}

.sanpreet .img2:hover {
  transform: scale(1.02);
}

.sanpreet .btn-container {
  background: #fff;
  border: 1px solid #171717;
  border-radius: 4px;
  padding: 14px 24px 15px 24px;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 0px;
  color: #000;
  cursor: pointer;
  width: 211px;
}

.sanpreet .img1 {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px;
  text-decoration: black;

}

/* .img:hover{
  background-color: rgb(182, 46, 46);
} */

.sanpreet *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: black;
}

.sanpreet p {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.iconText {
  text-align: center;
}

.sanpreet .iconText:hover {
  text-decoration: underline;
  color: black;

}

.sanpreet .btn-container:hover,
.sanpreet .btn-container:hover>a {
  background: #000;
  color: white !important;
}


.sanpreet a:link {
  text-decoration: none;
}

.sanpreet a:link:hover {
  text-decoration: underline;
  text-decoration: black;
}

.sanpreet .img4 {
  width: 100%;
  height: 293px;
}



.sanpreet .title1 {
  margin: 0px 16px;
  padding-top: 48px;

}


.sanpreet .title {
  text-align: left;
}

.sanpreet .title {

  /* letter-spacing: -1.44px; */
  color: #171717;
  margin-bottom: 15px;
  margin-left: 8px;
}

/* Ram CSS */


#top-main-carousel .carousel-top {
  height: 410px !important;
}

#top-main-carousel .carousel-item>img {
  height: 410px !important;
}

#top-main-carousel .carousel-control-prev,
.carousel-control-next {
  width: 100px !important;
}

#top-main-carousel .card {
  border-radius: 4px;
}

#top-main-carousel .square {
  width: 100%;
  height: auto;
  background-color: black;
  box-shadow: 0 0 20px pink;
  animation: expand 2s forwards;
}

#top-main-carousel .carousel-caption {
  margin-bottom: 13px;
  z-index: 1;
}

#top-main-carousel .hero_outer_img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 13px;
  margin-left: -554px;
  transform: translate(-58px);
}


#top-main-carousel .hero_text_subhead {
  font: normal normal bold 16px / 14px Lato;
  font-family: "Lato";
  letter-spacing: -0.16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
  transform: translate(-50);
}

#top-main-carousel .hero_text_subhead1 {
  font: normal normal bold 16px / 14px Lato;
  font-family: "Lato";
  letter-spacing: -0.16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
  /* transform: translate(-50px) !important; */

}

#top-main-carousel .hero_outer-hero_logo {
  z-index: 3;
  margin-left: 10px;
}

#top-main-carousel .hero_outer.hero_logo {
  z-index: 3;
}

#top-main-carousel .hero_text {
  margin-bottom: 13px;
  z-index: 1;
}

#top-main-carousel .hero_text_headline {
  font: normal normal bold 32px / 40px Lato;
  letter-spacing: -0.96px;
  opacity: 1;
  color: #fff;
  overflow: hidden;
  margin-top: 7px;
  margin-left: -13px;
}


#top-main-carousel .hero_cta_btn {
  display: flex;
  height: 48px;
  width: 134px;
  padding: 7px 24px;
  font: normal normal bold 16px / 16px Lato;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #171717;
  border-radius: 4px;
  color: #040404;
  margin-right: 16px;
  letter-spacing: 0px;
  cursor: pointer;
  transform: translate(-116px);
}

#top-main-carousel .hero_cta_btn a {
  text-decoration: none;
  color: black;
  margin-top: 7px;
}

#top-main-carousel .hero_cta_btn2 {
  display: flex;
  height: 48px;
  width: 134px;
  padding: 7px 24px;
  font: normal normal bold 16px / 16px Lato;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #171717;
  border-radius: 4px;
  color: #040404;
  margin-right: 16px;
  letter-spacing: 0px;
  cursor: pointer;

}

#top-main-carousel .hero_cta_btn2 {
  display: flex;
  height: 48px;
  width: 134px;
  padding: 7px 24px;
  font: normal normal bold 16px / 16px Lato;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #171717;
  border-radius: 4px;
  color: #040404;
  margin-right: 16px;
  letter-spacing: 0px;
  cursor: pointer;

}

#top-main-carousel .hero_cta_btn2 a {
  text-decoration: none;
  color: black;
  margin-top: 7px;

}

#top-main-carousel .hero_cta_btn3 {
  display: flex;
  height: 48px;
  width: 134px;
  padding: 7px 24px;
  font: normal normal bold 16px / 16px Lato;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #171717;
  border-radius: 4px;
  color: #040404;
  margin-right: 16px;
  letter-spacing: 0px;
  cursor: pointer;

}

#top-main-carousel .hero_cta_btn3 a {
  text-decoration: none;
  color: black;
  margin-top: 7px;

}

#top-main-carousel .hero_text_subhead {
  font: normal normal bold 16px / 14px Lato;
  font-family: "Lato";
  letter-spacing: -0.16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
  transform: translate(-116px);

}

#top-main-carousel .hero_text_headline {
  font: normal normal bold 32px / 40px Lato;
  letter-spacing: -0.96px;
  opacity: 1;
  color: #fff;
  overflow: hidden;
  margin-top: 7px;
  transform: translate(-116px);

}

#top-main-carousel .carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* left: 90px; */
  width: 590px;
  top: 0;
  margin-top: 53px;
  bottom: 0;
}

#top-main-carousel .cms_currency_layout {
  border: 0px solid;
  border-color: red;
  margin: 0 auto;
  position: relative;
  height: inherit;
  margin-bottom: 40px;
}

#top-main-carousel .widgetsTitle {
  margin: 0 auto;
  margin: 0px 16px;
  padding-top: 48px;
}

#top-main-carousel .widgetsTitle .title {
  font: normal normal bold 48px / 40px Lato;
  letter-spacing: -1.44px;
  color: #171717;
  min-height: 57PX;
  opacity: 1;
  margin-top: 8px;
}

#top-main-carousel .widgetsTitle .subTitle {
  display: flex;
  font: normal normal bold 16px / 14px Lato;
  letter-spacing: -0.16px;
  color: #171717;
  text-transform: uppercase;
  margin-bottom: 8px;
  height: 19px;
  opacity: 1;
  line-height: 1.6;
}

#top-main-carousel .carousel_track {
  display: flex;
  padding: 0 !important;
  position: relative;
}

#top-main-carousel .program-single-card-body {
  padding: 12px 20px 23px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}


#top-main-carousel .hero-para {

  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  transform: translate(11px);
}

#top-main-carousel .hero-para1 {
  text-align: left;
  transform: translate(-2px);
}

#top-main-carousel .hero-para2 {
  text-align: left;
  text-align: left;
  margin-left: -358px;
}

#top-main-carousel .hero-para3 {
  text-align: left;
  text-align: left;
  margin-left: -318px;
}

#top-main-carousel .lenovo-para {
  margin-left: -266px;
}

#top-main-carousel .lenovo-para2 {
  margin-left: -162px;
}

#top-main-carousel .second-c {
  margin-top: 64px;
}

#top-main-carousel .third-c {
  margin-top: 64px;
}

#top-main-carousel .carousel-control-prev-icon {
  background-color: black;
  transform: translate(-42px);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  transform: translate(-10px);
}

#top-main-carousel .carousel-control-next-icon {
  background-color: black;
  transform: translate(-42px);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  transform: translate(20px);

}

#top-main-carousel .carousel-text {
  transform: translate(-100px);
}

/* Bottom Carousel */

.hero_cta_btn2 {
  display: flex;
  height: 48px;
  width: 134px;
  padding: 7px 24px;
  font: normal normal bold 16px / 16px Lato;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #171717;
  border-radius: 1px 1px 1px 1px;
  color: #040404;
  margin-right: 16px;
  letter-spacing: 0px;
  cursor: pointer;

}

.hero_cta_btn2 a {
  text-decoration: none;
  color: black;
  margin-top: 7px;

}

.cardc-img-top1 {
  max-height: 241px;
  min-height: 241px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.card-body {
  margin-top: 20px;
}


.carousel-item {
  padding: 0 1px;
}

.carousel-item .col {
  flex: 0 0 calc(100% / 3);
  /* Each card takes 1/3 of the carousel width */
  max-width: calc(100% / 3);
}

.col {
  width: 475px !important;

}

.row {
  display: flex;
  justify-content: center !important;
  height: auto;
}

.cardc {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  width: 440px !important;
  margin-left: 29px;
  height: 100%;
  /* padding-left: 10px; */
}

.caraousel-carde-detail {
  margin-left: 15px;
  margin-bottom: 15px;
}

.carousel-control-prev-icon:hover {
  background-color: #040404;
}

.carousel-control-prev-icon {
  border-radius: 50%;
  margin-left: -100px;
}

.carousel-control-next-icon:hover {
  background-color: #040404;
}

.carousel-control-next-icon {
  border-radius: 50%;
  margin-right: -100px;
}

.widgetsTitle {
  margin: 0 auto;
  margin: 0px 16px;
  /* padding-top: 48px; */
  margin-bottom: 42px;
  margin-left: 34px;
}

.widgetsTitle .titlew {
  font: normal normal bold 48px / 40px Lato;
  letter-spacing: -1.44px;
  color: #171717;
  min-height: 57PX;
  opacity: 1;
  margin-top: 8px;
}

.titlew {
  font: normal normal bold 48px / 40px Lato;
  letter-spacing: -1.44px;
  color: #171717;
  min-height: 57PX;
  opacity: 1;
  margin-top: 8px;

}

#bottom-carousel {
  padding: 70px;
}