@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1920px;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: auto;
  box-sizing: border-box;

  #header {
    .navbar {
      max-width: 1320px;
      width: 100%;
      height: 88px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      .nav-search {
        display: flex;
        align-items: center;
        gap: 77px;

        input {
          width: 240px;
          font-family: Inter;
          font-weight: 400;
          font-size: 14.77px;
          border: 0;
          height: 20px;
          color: #757575;
        }
      }

      ul {
        font-family: Inter;
        font-size: 14.77px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        display: flex;
        list-style: none;
        align-items: center;
        gap: 63px;
      }

      button {
        color: #fff;
        border: 0;
        background-color: #eb662b;
        font-family: "Inter", sans-serif;
        font-size: 14.3px;
        font-weight: 500;
        text-align: center;
        padding: 12px 21px 12px 21px;
        height: 44px;
        box-sizing: border-box;
        border-radius: 200px;
      }
    }
  }

  #search-sec {
    width: 100%;
    .main-search {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 702px;
      border-radius: 12px;
      background-image: url("content/background.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      h1 {
        color: #fff;
        font-family: Inter;
        font-size: 69.73px;
        font-weight: 600;
        line-height: 84px;
        text-align: center;
        margin: 0;
      }

      p {
        margin-top: 10px;
        margin-bottom: 60px;
        color: #fff;
        font-family: Inter;
        font-size: 14.65px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: center;
      }

      .search {
        margin: auto;
        background-color: #fff;
        box-shadow: 0px 10px 40px 0px #0000000d;
        width: 850px;
        height: 60px;
        padding: 10px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .categories {
        height: 50px;
        display: flex;
      }

      .circle {
        background-color: #eb662b0d;
        width: 50px;
        height: 50px;
        border-radius: 12px;
        margin-right: 10px;
      }

      .search-content {
        h5 {
          margin: 0;
          font-family: Inter;
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
        }

        p {
          color: #717171;

          margin: 0;
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .search-btn {
        font-family: Inter;
        font-weight: 500;
        font-size: 14.65px;
        color: #fff;
        width: 136px;
        height: 60px;
        border: 0;
        border-radius: 12px;
        background-color: #eb662b;
      }

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  #choose-tourz {
    width: 100%;
    max-width: 1320px;
    margin: 120px auto 110px auto;
    box-sizing: border-box;
    .bottom-heading {
      font-family: Inter;
      font-size: 29px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 35px;
    }
    .part-wrapper {
      display: flex;
      justify-content: space-around;
    }

    .part {
      width: 255px;

      h3 {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
      }

      p {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  #trend-dest {
    margin: auto;
    width: 100%;
    max-width: 1320px;
    .top-text{
      display: flex;
      justify-content: space-between;
      >div:first-child{
          font-size: 29.88px;
          font-weight: 700;
      }
      >div:last-child{
          font-size: 14.3px;
          font-weight: 400;
          line-height: 28.13px;
          text-align: left;

      }
    }

    #dest-cards{
      width: 100%;
      padding: 40px 0px 100px 0px;
      display: flex;
      height: auto;
      justify-content:space-between;
      align-items: center;
      >div{
        width: 135px;
        height: auto;
        text-align: center;
        
        >img{
          width: 100%;
          border-radius: 50%;
        }
        .place-name{
          font-size: 15.25px;
          font-weight: 500;
        }
        .tours-count{
          font-size: 13.56px;
        }
      }
    }
  }

  #pop-tours , #top-trend{
    .container {
        width: auto;
        max-width: 1320px;
        margin: auto;
    
        .outer {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            > h2 {
                font-family: Inter;
                font-size: 29px;
                font-weight: 700;
                line-height: 45px;
                letter-spacing: 0em;
                color: #05073c;
                padding: 5px 0px 0px 15px;
            }
    
            > a {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                text-decoration: none;
                padding: 21.88px 40.8px 0px 0px;
            }
        }
    
        .inner {
          width: 100%;
          max-width: 1320px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
    
            > div {

                border: 1px solid #e7e6e6;
                border-radius: 12px;
                background-color: white;
                padding: 11px;
                box-sizing: border-box;
                > img {
                    width: 100%;
                    border-radius: 12px;
                    display: block;
                }
    
                > p:nth-of-type(1) {
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400px;
                    line-height: 24px;
                    letter-spacing: 0em;
                    padding: 10px 0px 0px 42px;
                    margin: 0px;
                    color: #717171;
                }
    
                > h3 {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 500px;
                    line-height: 24px;
                    letter-spacing: 0em;
                    color: #05073c;
                    margin: 0px;
                    padding-left: 21px;
                    max-width: 249.4px;
                }
    
                > p:nth-of-type(2) {
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400px;
                    line-height: 24px;
                    letter-spacing: 0em;
                    padding: 10px 0px 0px 101px;
                    margin: 0px;
                    color: #05073c;
                    max-width: 54.59px;
                }
    
                > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 258px;
                    margin: 14.3px 21px 11px 21px;
                    border-top: 1px solid gray;
    
                    > span {
                        font-size: 13px;
                        font-weight: 400px;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: #05073c;
                    }
    
                    > div > span:nth-of-type(1) {
                        font-size: 13px;
                        font-weight: 400px;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: #05073c;
                    }
    
                    > div > span:nth-of-type(2) {
                        font-size: 15px;
                        font-weight: 500px;
                        line-height: 30px;
                        letter-spacing: 0em;
                        color: #05073c;
                    }
                }
            }
        }
    }
  }

  #offer-card-1 {
    .frame {
      max-width: 1530px;
      width: 100%;
      display: flex;
      margin: auto;
      margin-top: 100px;
      justify-content: center;
    }
    
    .left {
      width: 50%;
      // height: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("content/frame-left.png");
      
      .content {
        text-align: center;
      }
      
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        
        .orange {
          color:  #EB662B;
        }
      }
      
      p {
        font-size: 14px;
        margin-top: 10px;
      }
      button {
        background-color:  #EB662B;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 12px;
      }
    }
    
    .right {
      width: 50%;
      // padding: 20px;
      
      img {
        max-width: 100%;
        height: 99%;
      }
    }
    
    .mid > img{
      transform: translate(0px);
    }
    .mid{
      width: 0px;
    }
  }

  #pop-things {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    #txt{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #txt>h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;

    }
    #txt>h3{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }
    #image{
        width: 100%;
        height: 515px;
        display: grid;
        gap: 30px;
        box-sizing: border-box;        
        grid-template-areas: "a1 a2 a3 a3"
                            "a4 a2 a5 a6";
        grid-template-rows: 47% 47%;
    }
    #image>div:nth-child(1){

        grid-area: a1;
    }
    #image>div:nth-child(2){
        grid-area: a2;
    }
    #image>div:nth-child(3){
        grid-area: a3;
    }
    #image>div:nth-child(4){
        grid-area: a4;
    }
    #image>div:nth-child(5){
        grid-area: a5;
    }
    #image>div:nth-child(6){
        grid-area: a6;
    }
    #image>div{
      height: 100%;
      box-sizing: border-box;
    }
    #image>div>img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-position: center;
        object-fit: cover;
    }
    #image>div>div{
      font-size: 19.53px;
      font-weight: 500;
      color: white;
      transform: translate(20px, -50px);
    }
  }

  #top-trend {
    padding: 60px 105px 120px 105px;
    margin: auto;
    max-width: 1520px;
    width: 100%;
    background: #F5F5F5;
    box-sizing: border-box;

    
  }

  #customer-review {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./content/Frame\ \(2\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 871px;
    box-sizing: border-box;
    
    .customer-review-in{
      max-width: 1320px;
      width: 100%;
      height: 610.84px;
      top: 5200.81px;
      left: 300px;
      gap: 0px;
      opacity: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    .cr-heading{
      margin-top: 0px;
      font-family: Inter;
      font-size: 29.53px;
      font-weight: 700;
      line-height: 45px;
      text-align: center;
      color: #05073C;
      
      
    }
    
    .cr-image{
      width: 100px;
      height: 100px;
      top: 10px;
      left: 265px;
      gap: 0px;
      opacity: 0px;
      margin-top: 70px;
      margin-bottom: 70px;
    }
    
    .cr-exc{
      font-size: 17.58px;
      font-weight: 500;
      line-height: 33.75px;
      text-align: center;
      color: #EB662B;
      margin-bottom: 25px;
    }
    
    .cr-para{
      font-size: 19.53px;
      font-weight: 500;
      line-height: 37.5px;
      text-align: center;
      margin-bottom: 25.5px;
      color: #05073C;
    }
    .cr-name{
      font-family: Inter;
      font-size: 15.75px;
      font-weight: 500;
      line-height: 25.6px;
      text-align: center;
      color: #05073C;
    }
  }
    
    
    #offer-card-2 {
    background-image: url("./content/text.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1520px;
    width: 100%;
    height: 514px;
    margin: auto;
    padding-top: 100px;
    padding-left: 120px;
    border-radius: 12px;
    box-sizing: border-box;
  }

  .offer-card-in{
    display: flex;
    flex-direction: column;
    justify-content: left;

  }

  .offer-card-head{
    font-family: Inter;
    font-size: 39.53px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: white;
  }
  .offer-card-para{
    font-family: Inter;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: white;
    margin-top: 14px;

  }

  .offer-card-email{
    font-family: Inter;
    font-size: 17.58px;
    font-weight: 400;
    line-height: 33.75px;
    text-align: left;
    color: white;
    margin-top: 44.13px;
  }

  .offer-card-input{
    width: 350px;
    // width: 107.88px;
    height: 40px;
    top: 6285.66px;
    left: 315px;
    padding: 20px 0px 0px 0px;
    gap: 0px;
    border-radius: 12px ;
    opacity: 0px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-left: 20px;
  }
  .offer-card-submit{
    width: 107.88px;
    height: 61px;
    top: 6285.66px;
    left: 675px;
    padding: 20px 35.8px 20px 36px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 36px;

  }


  #travel-articles {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    margin-top: 50px;
    .outer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h2 {
          font-family: Inter;
          font-size: 29px;
          font-weight: 700;
          line-height: 45px;
          letter-spacing: 0em;
          color: #05073c;
          padding: 5px 0px 0px 15px;
      }
      
      > a {
        font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          text-decoration: none;
          padding: 21.88px 40.8px 0px 0px;
        }
      }
      .inner{
        display: flex;
        gap: 30px;
      >div{
        >img{
          width: 100%;
        }
        .details{
          display: flex;
          margin: 34px 0px 14px 0px;
          font-size: 13.45px;
          ;
          >div:first-child{
            border-right:2px solid #E7E6E6;
            padding-right: 10px;
          }
          >div:last-child{
            padding-left: 10px;
          }
        }
        >div:last-child{
          font-size: 17.3px;
          font-weight: 500;
        }
      }
    }
    
  }

  .footer-border{
    width: 100%;
    transform: translateY(38px);
  }

  .footer {
 
      width: 100%;
      height: 655.13px;
      top: 7722.44px;
      left: 60px;
      border-radius: 12px;
      background-color: #fef7f4;
      color: #242553;
  

  >div {
    margin: auto;
      max-width: 1320px;
      width: 100%;
      height: 655.13px;
      top: 7722.44px;
      left: 300px;
  }

  #lay1 {
      max-width: 1290px;
      width: 100%;
      height: 26px;
      padding: 94.31px 80px 64.82px 80px;
      border-bottom: 1px solid #EB662B26;
      display: flex;
      justify-content: space-between;
      margin: auto;
      box-sizing: border-box;
  }
  h2{
    font-size: 20px;
    font-weight: 500;
  }
  p{
    font-size: 14.41px;
    font-weight: 400;
  }
 
  span {
      font-weight: bold;
  }

 
  #flex {
    width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
  }
  #form>input{
    border-radius: 12px;
    padding-left: 21px;
      border: none;
      height: 60px;
      width: 220px;
  }
  .footer-submit{
    border-radius: 12px;
    padding: 23px 30px;
    background-color: white;
    transform: translate(-20px);
    border: 0;
  }
  .end>img{
    width: 38px;
    height: 24px;
    justify-content: end;
  }
  }
  .copyrights{
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    font-size: 14.53px;
  }
}
